.banner {
    min-height: 540px;
    position: relative;
    background-image: url(../images/main-bg.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media only screen and (max-width: 1366px) {
        min-height: 250px;
    }

    &-video {
        position: relative;
        @include center;
        top: 40%;

        @media only screen and (max-width: 1366px) {
            width: 500px;
        }

        @media only screen and (max-width: 1366px) {
            width: 100%;
        }
    }
}

.shop {
    &-banner {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 336px;
        padding-left: 24px;
        background: rgb(25, 27, 35);
        text-transform: uppercase;

        @media only screen and (max-width: 1366px) {
            height: 215px;
        }

        @media only screen and (max-width: 767px) {
            height: 150px;
        }

        @media only screen and (max-width: 635px) {
            height: 110px;
        }

        @media only screen and (max-width: 370px) {
            justify-content: center;
            align-items: center;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
            .shop-logo {
                transform: rotate(180deg);
            }
        }

        &::after,
        &::before {
            content: '';
            display: block;
            @include center;
            z-index: 0;
            width: 100%;
            height: 100%;
        }

        &::before {
            background: url('../images/effect.webp') no-repeat center/contain;
        }

        &::after {
            background: url('../images/banner-glow.webp') no-repeat center/contain;
            opacity: 0.5;
            transition: opacity 0.25s;

            @media only screen and (max-width: 1366px) {
                background: url('../images/banner-glow.webp') no-repeat center/cover;
            }
        }

        &__section {
            margin-top: 250px;

            @media only screen and (max-width: 1366px) {
                margin-top: 20px;
            }
        }

        &__wrapper {
            overflow: hidden;
            min-height: 504px;
            display: flex;
            align-items: flex-end;
            margin-bottom: 30px;

            @media only screen and (max-width: 1366px) {
                min-height: 504px;
                margin-bottom: 150px;
            }

            @media only screen and (max-width: 767px) {
                margin-bottom: 250px;
            }
        }

        &__text {
            @media only screen and (max-width: 1366px) {
                position: relative;
                z-index: 2;
            }
        }

        &__subtitle {
            color: $grey;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
            margin-right: 10px;

            @media only screen and (max-width: 1366px) {
                font-size: 18px;
                line-height: 125%;
            }

            @media only screen and (max-width: 767px) {
                font-size: 14px;
                line-height: 1;
            }

            @media only screen and (max-width: 635px) {
                font-size: 10px;
            }
        }

        &__title {
            color: $light;
            font-size: 70px;
            font-weight: 900;
            line-height: 125%;
            margin-top: 30px;

            @media only screen and (max-width: 1366px) {
                font-size: 50px;
            }

            @media only screen and (max-width: 767px) {
                font-size: 32px;
                margin-top: 15px;
            }

            @media only screen and (max-width: 635px) {
                font-size: 24px;
                margin-top: 10px;
            }
            @media only screen and (max-width: 465px) {
                justify-content: center;
            }
        }

        &__image {
            position: absolute;
            right: 10%;
            bottom: -23px;
            z-index: 2;

            @media only screen and (max-width: 1366px) {
                right: 3%;
            }

            @media only screen and (max-width: 767px) {
                right: 5%;
            }

            @media only screen and (max-width: 635px) {
                right: 6%;
            }

            @media only screen and (max-width: 465px) {
                display: none;
            }

            img {
                @media only screen and (max-width: 1366px) {
                    width: 350px;
                }

                @media only screen and (max-width: 767px) {
                    width: 275px;
                }

                @media only screen and (max-width: 635px) {
                    width: 200px;
                }
            }
        }

        &__logo {
            position: absolute;
            top: 25px;
            right: 25px;
            z-index: 1;

            @media only screen and (max-width: 767px) {
                top: 20px;
                right: 20px;
            }

            @media only screen and (max-width: 635px) {
                top: 15px;
                right: 15px;
            }

            @media only screen and (max-width: 635px) {
                top: 27px;
            }

            @media only screen and (max-width: 370px) {
                display: none;
            }

            img {
                transition: transform 1s ease-in-out;
                transform: rotate(0);

                @media only screen and (max-width: 1366px) {
                    width: 104px;
                    height: 98px;
                    top: 10px;
                    right: 10px;
                }

                @media only screen and (max-width: 767px) {
                    width: 75px;
                    height: 70px;
                }

                @media only screen and (max-width: 635px) {
                    width: 55px;
                    height: 50px;
                }
            }
        }
    }
}
